<footer class="f">
  <div class="border"></div>
  <div>
    <div class="row">
      <a class="ml-5" target="_blank" href="https://news.ycombinator.com/newsguidelines.html">Guidelines </a> 
        <div class="ml-5"> |</div>
      <a class="ml-5" target="_blank" href="https://news.ycombinator.com/newsfaq.html">FAQ </a> 
      <div class="ml-5"> | </div>
      <a class="ml-5" target="_blank" href="https://news.ycombinator.com/lists">Lists </a> 
      <div class="ml-5"> | </div>
      <a class="ml-5" target="_blank" href="https://github.com/HackerNews/API">API </a> 
      <div class="ml-5"> | </div>
      <a class="ml-5" target="_blank" href="https://news.ycombinator.com/security.html">Security </a> 
      <div class="ml-5"> | </div>
      <a class="ml-5" target="_blank" href="https://www.ycombinator.com/legal/">Legal </a> 
      <div class="ml-5"> | </div>
      <a class="ml-5" target="_blank" href="https://www.ycombinator.com/apply/">Apply To YC </a> 
      <div class="ml-5"> | </div>
      <a class="ml-5" target="_blank">Contact </a> 
    </div>
    <div class="row">
        <div class="search-container">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
          </div>
    </div>
  </div>
</footer>
