
.mat-toolbar {
    background: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}
.y {
    border: 2px solid;
    width: 20px;
    display: flex;
    justify-content: center;
    height: 28px;
}
.ml-5 {
    margin-left: 5%;
}